# copy to: /etc/udev/rules.d/
#
# for update rules:
# sudo udevadm control --reload
# sudo udevadm trigger
#
# for check 
# udevadm info --name=/dev/ttyESP32 --attribute-walk
# udevadm info --name=/dev/ttyCH340 --attribute-walk

SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d4", SYMLINK+="ttyESP32", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ttyCH340", MODE="0666"
